<p>
    Dear <%= user.name.split(" ").pop() %>
</p>

<p>
    Thank you for registering with us. Here are your login credentials:
    <br>
    Email: <b><%= user.email %></b>
    <br>
    Role: <b><%= user.role %></b>
    <br>
    Password: <b>********</b>
</p>

<p>
    Regards,
    <br>
    BookStore Teams
</p>

